img{
    float:right;
}
#c1,#c2,#c3{
   height:282px;
   width: 1200px;
}
.hcontainer{
    background-color: blueviolet;
}
table{
    border: groove;
}
#sin{
    background-color: #47a447;
        margin-left: -1px;
    margin-right: -35px;
}
#btn{
    margin-left: 113px;
}